[user]
	email = h4kbas@gmail.com
	name = Hüseyin Akbaş
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	a = add .
	s = status
	c = commit -m
	b = branch
	co = checkout
	cb = checkout -b
	r = reset HEAD --
	p = push origin
	pl = pull origin
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
